@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:700");

* {
    /* outline: 1px dotted red; */
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(132deg, rgba(255,255,255,1) 0%, rgba(200,198,239,1) 62%, rgba(180,176,237,1) 100%);
    background: -webkit-linear-gradient(132deg, rgba(255,255,255,1) 0%, rgba(200,198,239,1) 62%, rgba(180,176,237,1) 100%);
    background: linear-gradient(132deg, rgba(255,255,255,1) 0%, rgba(200,198,239,1) 62%, rgba(180,176,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#b4b0ed",GradientType=1);
}

section {
  width: 100%;
}

.animate-text-reveal-logo {
  animation: text-logo-reveal 3s forwards;
  animation-delay: 4.2s;
  left: -100%;
}

@keyframes text-logo-reveal {
  0% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.animate-logo-pic {
  animation: zoomin 3s forwards;
  animation-delay: 4s;
  left: 50px;
  transform: scale(0);
}

@keyframes zoomin {
  0% {
    transform: scale(0);
    left: 50px;
    transition: ease-in-out 0.5s;
  }
  40% {
    transform: scale(0.8);
    left: 50px;
    transition: ease-in-out 0.5s;
  }
  80% {
    transform: scale(1);
    left: 50px;
    transition: ease-in-out 0.5s;
  }
  100% {
    transform: scale(1);
    left: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  }
}

.clock-loader {
  --clock-color: black;
  --clock-width: 4rem;
  --clock-radius: calc(var(--clock-width) / 2);
  --clock-minute-length: calc(var(--clock-width) * 0.4);
  --clock-hour-length: calc(var(--clock-width) * 0.2);
  --clock-thickness: 0.2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--clock-width);
  height: var(--clock-width);
  border: 3px solid var(--clock-color);
  border-radius: 50%;
}
.clock-loader::before, .clock-loader::after {
  position: absolute;
  content: "";
  top: calc(var(--clock-radius) * 0.25);
  width: var(--clock-thickness);
  background: var(--clock-color);
  border-radius: 10px;
  transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
  animation: spin infinite linear;
}
.clock-loader::before {
  height: var(--clock-minute-length);
  animation-duration: 2s;
}
.clock-loader::after {
  top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
  height: var(--clock-hour-length);
  animation-duration: 15s;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.section {
    max-width: 970px;
    margin: auto;
}

/* section 2 choice algorithm styling css */
ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 3px 12px;
    cursor: pointer;
    font-size: 11px;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #7b7dcb;
    background-color: #5f63c4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}

/* end of anu */

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  /* Adjust as needed */
  animation: typing 2.5s steps(40, end), blink-caret .75s step-end infinite;
  animation-iteration-count: infinite;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}
/* The typewriter cursor effect */

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange;
  }
}

.section-4-card {
    border-radius: 5px;
    height: 10vh;
    width: 100%;
    margin: 10px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(132deg, rgba(255,255,255,1) 0%, rgba(211,209,239,0.6646008745294993) 100%);
    background: -webkit-linear-gradient(132deg, rgba(255,255,255,1) 0%, rgba(211,209,239,0.6646008745294993) 100%);
    background: linear-gradient(132deg, rgba(255,255,255,1) 0%, rgba(211,209,239,0.6646008745294993) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#d3d1ef",GradientType=1);
}

.card-shadow-cool {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Header */
.header {
    padding: 10px;
}

.loader {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    z-index: 9999;
}

.loader img.loader-gif {
    margin: auto; 
    height: 70px;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}

.loader-img-scaled-down {
    animation: blugblig 1s ease-in-out;
}

@keyframes blugblig {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0);
    }
}


@keyframes showTopText {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    40%, 60% {
      transform: translate3d(0, 50%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes showBottomText {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  .animated-title {
    color: #222;
    font-family: Roboto, Arial, sans-serif;
    height: 90vmin;
    left: -8.5rem;
    top: -14rem;
    position: absolute;
    transform: scale(0.6);
    width: 0;
    animation: lebarin-garis 1s ease-in-out forwards;
    animation-delay: 3.5s;
  }

  @keyframes lebarin-garis {
    0%{
      width: 0;
    }
    100% {
      width: 90vmin;
    }
  }
  
  .animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  
  .animated-title > div div {
    font-size: 12vmin;
    padding: 2vmin 0;
    position: absolute;
  }
  
  .animated-title > div div span {
    display: block;
  }
  
  .animated-title > div.text-top {
    border-bottom: 1vmin solid #000;
    top: 0;
  }
  
  .animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 4.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }
  
  .animated-title > div.text-top div span:first-child {
    color: #767676;
  }
  
  .animated-title > div.text-bottom {
    bottom: 0;
  }
  
  .animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }

.animate-slide-down-fade-in {
    animation: slide-down-fade-in 1s ease-in-out;
}

.animate-pop-out {
    animation: pop-out 1s ease-in-out;
    transform: scale(1) !important;
}

.box-landing-pic-1 {
    width: 58px;
    height: 41px;
    background: #0f7840;
    position: absolute;
    top: 121px;
    left: 217px;
    border-radius: 7px;
    text-align: center;
    font-size: 23px;
    line-height: 1.7;
    overflow: hidden;
}

.box-landing-pic-1 i {
  position: absolute;
  left: 20px;
  animation: swooshanjay 3s ease-in-out infinite;
}

@keyframes swooshanjay {
  0% {
    top: 100%;
    opacity: 0;
  }
  20% {
    top: 14px;
    opacity: 1;
  }
  80% {
    top: 4px;
    opacity: 1;
  }
  100% {
    top: -100px;
    opacity: 0;
  }
}



.box-landing-pic-2 {
    width: 58px;
    height: 41px;
    background: #383873;
    position: absolute;
    top: 96px;
    left: 166px;
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}

@keyframes pop-out {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slide-down-fade-in {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.header-links-ul li a {
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
    text-decoration: none;
    color: #383838;
}

.header-links-ul li {
    display: inline-block;
    margin: 0 10px;
}

.landing-big-title-text {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    font-size: 60px;
    color: #464646;
}


.accordion-menu {
  display: inline-block;
  position: relative;
  max-width: 300px;
  width: 100%;
  padding: 10px 20px 20px;
  border-radius: 5px;
}

.accordion-menu ul li h2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
  color: #6c6c6a;
  text-align: left;
}

.accordion-menu ul li div.isi-konten {
  color: rgba(48, 69, 92, 0.8);
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

.accordion-menu ul {
  list-style: none;
  perspective: 900;
  padding: 0 20px 10px;
  margin: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(255, 255, 255, 0.19);
}

.accordion-menu ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb;
}

.accordion-menu ul li:nth-child(1) {
  border: none;
}

.accordion-menu ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}

.accordion-menu ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}

.accordion-menu ul li:nth-of-type(3) {
  animation-delay: 1s;
}

.accordion-menu ul li:last-of-type {
  padding-bottom: 0;
}

.accordion-menu ul li .arrow {
  position: absolute;
  transform: translate(-18px, 0);
  margin-top: 4px;
  right: 0px;
}

.accordion-menu ul li .fas {
  color: #f6483b;
  font-size: 15px;
  margin-right: 10px;
}

.accordion-menu ul li .arrow:before, .accordion-menu ul li .arrow:after {
  content: "";
  position: absolute;
  background-color: #f6483b;
  width: 3px;
  height: 9px;
}

.accordion-menu ul li .arrow:before {
  transform: translate(-2px, 0) rotate(45deg);
}

.accordion-menu ul li .arrow:after {
  transform: translate(2px, 0) rotate(-45deg);
}

.accordion-menu ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 84%;
  z-index: 1;
  opacity: 0;
  left: 0;
}

.accordion-menu ul li input[type=checkbox]:checked ~ div.isi-konten {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

.accordion-menu ul li input[type=checkbox]:checked ~ .arrow:before {
  transform: translate(2px, 0) rotate(45deg);
}

.accordion-menu ul li input[type=checkbox]:checked ~ .arrow:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.transition, .accordion-menu ul li div.isi-konten, .accordion-menu ul li .arrow:before, .accordion-menu ul li .arrow:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, .accordion-menu ul li h1, .accordion-menu ul li {
  animation: flipdown 0.5s ease both;
}

.no-select, .accordion-menu ul li h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.range-slider {
  position: relative;
}

.range-slider:hover > .rs-label {
  transform: scale(1);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transform-origin: center center;
}

.rs-range {
  width: 100%;
}

.rs-label {
  position: absolute;
  background: #fff;
  color: black !important;
  bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transform-origin: bottom center;
  display: block;
  transition: all ease-in-out 0.5s;
  transform: scale(0);
  height: 28px;
  text-align: center;
  font-weight: bold;
  padding: 2px 6px 5px 6px;
  box-sizing: border-box;
  margin-top: 20px;
  left: attr(value);
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  z-index: 9999;
}

.tooltip-cust {
  position: relative;
  opacity: 1 !important;
  margin-left: 7px;
  z-index: 9999;
}

.tooltip-cust:before,
.tooltip-cust:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip-cust:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0, 0, 0, .75);
  border-left: 6px solid transparent;
  content: '';
  height: 0;
  top: 20px;
  left: 3px;
  width: 0;
}

.tooltip-cust:before {
  min-width: 300px;
  background: rgba(0, 0, 0, .75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 10px;
  padding: 6px 10px;
  top: 26px;
  white-space: nowrap;
  right: -1rem;
  white-space: pre-wrap;
}

/* the animations */
/* fade */
.tooltip-cust.fade:after,
.tooltip-cust.fade:before {
  transform: translate3d(0, -10px, 0);
  transition: all .15s ease-in-out;
}

.tooltip-cust.fade:hover:after,
.tooltip-cust.fade:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}